# ==========================
# Java / Spring Boot
# ==========================
target/
*.class
*.jar
*.war
*.iml
*.log

# ==========================
# Maven Wrapper
# ==========================
.mvn/wrapper/maven-wrapper.jar

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db
